/* ------------------------------------------------------------ *\
  heading
\* ------------------------------------------------------------ */

.heading {
  margin-block-start: calc(var(--spacing-step) * 5);
  margin-inline: calc(var(--shell-padding) * -1);
  background-color: rgba(188, 138, 92, 0.8);
  padding-block: var(--spacing-step);
  display: flex;
  justify-content: center;
  align-items: center;
}
