.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.heading {
  margin-block-start: calc(var(--spacing-step) * 5);
  margin-inline: calc(var(--shell-padding) * -1);
  background-color: rgba(188, 138, 92, 0.8);
  padding-block: var(--spacing-step);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .heading svg {
  fill: #fff;
} */

.page-links {
  width: fit-content;
  margin-inline: auto;
  padding-block: calc(var(--spacing-step) * 9);
  display: grid;
  grid-template-columns: repeat(2, minmax(13.2rem, 18.5rem));
  gap: calc(var(--spacing-step) * 2);
}
