/* ------------------------------------------------------------ *\
  header
\* ------------------------------------------------------------ */

.header {
  background-color: var(--header-background-color);
  padding-block: var(--spacing-step);
  padding-inline: calc(var(--spacing-step) * 2);
  position: sticky;
  top: 0;
}

.nav {
  text-align: center;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacing-step) * 2);
}

.nav li {
  font-size: 0;
  line-height: 1;
}
